

# fastapi==0.104.1
# uvicorn[standard]==0.24.0
# streamlit==1.28.0
# requests==2.31.0
# python-dotenv==1.0.0

# google-auth==2.25.2
# google-auth-oauthlib==1.2.0
# google-auth-httplib2==0.2.0
# google-api-python-client==2.107.0

# langchain>=0.1.20
# langchain-core>=0.1.25
# langgraph>=0.0.30
# langchain-groq>=0.0.1
# langchain-google-genai>=1.0.10
# langchain-openai>=0.1.25

# groq
# openai
# google-generativeai

# pydantic==2.5.0
# pydantic-settings==2.1.0

fastapi==0.104.1
uvicorn[standard]==0.24.0
streamlit==1.28.0
requests==2.31.0
python-dotenv==1.0.0
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.107.0
langchain==0.2.2
langchain-core==0.2.5
langchain-groq==0.1.6
groq
pydantic==2.5.0
pydantic-settings==2.1.0
streamlit==1.32.0
